<div class="left-nav-list-item todo-item flex-container">
  <div class="left-aligned-list-item flex-container horizontal-center-alignment">
    <div class="circle-checkbox flex-container horizontal-center-alignment vertical-center-alignment">
      <span class="check-mark">&#x2713;</span>
    </div>
  </div>
  <div class="content-list-item flex-container horizontal-center-alignment">
    <div class="primary-text-color">
      <div class="title">
        TODO #1
      </div>
      <div class="sub-heading">
        This is a TODO #1
      </div>
    </div>
  </div>
</div>
