<div class="left-nav-list-item todo-item flex-container">
  <div class="left-aligned-list-item flex-container horizontal-center-alignment">
    <check-mark [checked]="todoItem.isDone()" (click)="toggleDone(todoItem)"></check-mark>
  </div>
  <div class="content-list-item flex-container horizontal-center-alignment">
    <div class="primary-text-color full-width">
      <div class="title text-ellipsis">
        {{todoItem.title}}
      </div>
      <div class="sub-heading text-ellipsis">
        {{todoItem.desc}}
      </div>
    </div>
  </div>
</div>
