/* You can add global styles to this file, and also import other style files */
/*
  24.00dp	= 18.00px ldpi
  15.00dp = 11.25px
*/

.primary-bg-color {
  background-color: #009688;
}

.primary-color {
  color: #009688;
}

.primary-color.in-primary-bg-color {
  color: #ffffff;
}

.primary-text-color {
  color: rgba(0, 0, 0, 0.87);
}

.secondary-text-color {
  color: rgba(0, 0, 0, 0.54);
}

.full-vheight {
  height: 100vh;
}

.full-vheight.with-header {
  height: calc(100vh - 64px);
}

.full-height {
  height: 100%;
}

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}

.full-width.with-left-nav {
  width: calc(100% - 256px);
}

.container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: stretch;;
}

.flex-container.horizontal-center-alignment {
  align-items: center;
}

.flex-container.vertical-center-alignment {
  justify-content: center;
}

.flex-container.hv-center-alignment {
  align-items: center;
  justify-content: center;
}

.flex-container.in-column {
  flex-direction: column;
}

.auto-margin-left {
  margin-left: auto;
}

.left-nav {
  max-width: 300px;
  width: 224px;
  padding: 0 16px;
  position: fixed;
}

.left-nav.with-right-divider {
  border-right: thin solid rgba(0, 0, 0, 0.12);
  width: 223px;
}

.left-nav-header,
.left-nav-footer {
  height: 56px;
}

.left-nav-footer.with-top-divider {
  height: 55px;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.left-nav-container {
  height: calc(100% - (56px * 2));
}

.todo-item-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.todo-item {
}

.todo-item.done .content-list-item {
  text-decoration: line-through;
}

.todo-item.done .title,
.todo-item.done .sub-heading {
  color: rgba(0, 0, 0, 0.38);
}

.left-nav-list-item {
  position: relative;
  height: 72px;
}

.circle-checkbox {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 100%;
  position: relative;
  transition: box-shadow 250ms;
}

.circle-checkbox:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.38);
}

.circle-checkbox .check-mark {
  font-size: 0px;
}

.circle-checkbox.checked {
  background-color: #009688;
}

.circle-checkbox.checked:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #009688;
}

.circle-checkbox.checked .check-mark {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  animation: checkbox-checked-font-size 250ms;
  animation-delay: 100ms;
}

.left-aligned-list-item {
  width: 56px;
  height: 100%;
}

.content-list-item {
  width: calc(100% - 56px);
  height: 100%;
}

.left-nav .content-list-item:hover {
  cursor: pointer;
}

.left-nav-input {
  height: 32px;
  width: 100%;
  border-radius: 2px;
  outline: none;
  border: thin solid rgba(0, 0, 0, 0.54);
  padding: 0 8px;
  transition: box-shadow 250ms;
}

.left-nav-input:focus,
.left-nav-input:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.38);
}

.search-group {
  position: relative;
}

.search-group input {
  padding-left: 48px;
}

.search-group::after {
  content: '\26B2';
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  top: calc((100% - 29px) / 2);
  left: 16px;
  position: absolute;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.touchable-target {
  height: 48px;
  display: flex;
  align-items: center;
}

.ghost-button {
  height: 36px;
  display: flex;
  align-items: center;
  border: thin solid #009688;
  color: #009688;
  padding: 0 16px;
  border-radius: 2px;
  position: relative;
  transition: box-shadow 250ms;
}

.ghost-button.without-border {
  border-color: transparent;
}

.ghost-button.in-dark-bg {
  border: thin solid #ffffff;
  color: #ffffff;
}

.ghost-button.disabled {
  cursor: not-allowed;
}

.ghost-button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #009688;
}

.ghost-button.in-dark-bg:hover {
  box-shadow: 0 0 0 1px #ffffff;
  cursor: pointer;
}

.header {
  height: 64px;
  top: 0;
}

.title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

.sub-heading {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.title.in-dark-bg {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.sub-heading.in-dark-bg {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.main-content {
  padding-left: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.main-content.full-width.with-left-nav {
  width: calc(100% - 256px - 72px - 16px);
  margin-left: 256px;
}

.form-group {
  margin-bottom: 24px;
}

.form-group > label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group p {
  margin-top: 0px;
}

.form-group p.with-border {
  padding: 24px 16px;
  border: thin solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-group-container .form-group:last-child {
  margin-bottom: 0;
}

.y-scrollable {
  overflow-y: auto;
}

.detail-content .title {
  font-size: 32px;
}

.form-group.button-bar .button {
  margin-right: 4px;
}

.form-group.button-bar .button:last-child {
  margin-right: 0;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes checkbox-checked-font-size {
  0%   {font-size: 32px;}
  50%  {font-size: 64px;}
  100% {font-size: 32px;}
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
