<div>
  <header class="header flex-container primary-bg-color">
    <div class="container flex-container horizontal-center-alignment">
      <div class="primary-color in-primary-bg-color">
        <div class="title in-dark-bg">
          TODO
        </div>
        <small class="sub-heading in-dark-bg">in Advanced</small>
      </div>
      <div class="header-action auto-margin-left">
        <div class="ghost-button">
          Add New
        </div>
      </div>
    </div>
  </header>
  <div class="container flex-container">
    <div class="left-nav with-border-right full-height with-header">
      <div class="left-nav-header flex-container hv-center-alignment search-group">
        <input class="left-nav-input" placeholder="FIND TODO..." />
      </div>
      <div>
        <div class="left-nav-list-item todo-item flex-container">
          <div class="left-aligned-list-item flex-container horizontal-center-alignment">
            <div class="circle-checkbox">
            </div>
          </div>
          <div class="content-list-item flex-container horizontal-center-alignment">
            <div class="primary-text-color">
              <div class="title">
                TODO #1
              </div>
              <div class="sub-heading">
                This is a TODO #1
              </div>
            </div>
          </div>
        </div>
        <div class="todo-item-divider"></div>
        <div class="left-nav-list-item todo-item done flex-container">
          <div class="left-aligned-list-item flex-container horizontal-center-alignment">
            <div class="circle-checkbox checked">
            </div>
          </div>
          <div class="content-list-item flex-container horizontal-center-alignment">
            <div class="primary-text-color">
              <div class="title">
                TODO #2
              </div>
              <div class="sub-heading">
                This is a TODO #2
              </div>
            </div>
          </div>
        </div>
        <div class="todo-item-divider"></div>
        <div class="left-nav-list-item todo-item flex-container">
          <div class="left-aligned-list-item flex-container horizontal-center-alignment">
            <div class="circle-checkbox">
            </div>
          </div>
          <div class="content-list-item flex-container horizontal-center-alignment">
            <div class="primary-text-color">
              <div class="title">
                TODO #3
              </div>
              <div class="sub-heading">
                This is a TODO #3
              </div>
            </div>
          </div>
        </div>
        <div class="todo-item-divider"></div>
        <div class="left-nav-list-item todo-item flex-container">
          <div class="left-aligned-list-item flex-container horizontal-center-alignment">
            <div class="circle-checkbox">
            </div>
          </div>
          <div class="content-list-item flex-container horizontal-center-alignment">
            <div class="primary-text-color">
              <div class="title">
                TODO #4
              </div>
              <div class="sub-heading">
                This is a TODO #4
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-nav-footer">
      </div>
    </div>
    <div class="main-content">
      Main content lives here
    </div>
  </div>
</div>
