<div>
  <header class="header flex-container primary-bg-color">
    <div class="container flex-container vertical-center-alignment">
      <div class="primary-color">
        <div class="title">
          TODO
        </div>
        <small class="primary-color sub-heading">in Advanced</small>
      </div>
      <div class="header-action auto-margin-left">
        <div class="ghost-button">
          Add New
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  </div>
</div>
