<div>
  <header class="header flex-container primary-bg-color">
    <div class="container flex-container horizontal-center-alignment">
      <div class="primary-color in-primary-bg-color">
        <div class="title in-dark-bg">
          TODO
        </div>
        <small class="sub-heading in-dark-bg">in Advanced</small>
      </div>
      <div class="header-action auto-margin-left">
        <div class="ghost-button in-dark-bg">
          Add New TODO
        </div>
      </div>
    </div>
  </header>
  <div class="full-vheight with-header y-scrollable">
    <div class="container">
      <div class="left-nav with-right-divider full-vheight with-header">
        <div class="left-nav-header flex-container hv-center-alignment search-group">
          <input class="left-nav-input" placeholder="FIND TODO..." />
        </div>
        <todo-item-list
          [todoItemList]="todoItemList"
          (onDone)="onTodoItemDone($event)"></todo-item-list>
        <div class="left-nav-footer with-top-divider">
          <div class="pagination full-height flex-container vertical-center-alignment horizontal-center-alignment">
            <span class="ghost-button without-border"><<</span>
            <span class="ghost-button without-border"><</span>
            <span class="ghost-button without-border">1</span>
            <span class="ghost-button without-border">></span>
            <span class="ghost-button without-border">>></span>
          </div>
        </div>
      </div>
      <div class="main-content full-width with-left-nav">
        <todo-item-detail></todo-item-detail>
      </div>
    </div>
  </div>
</div>
